/** 
 * SilverStripe Mobile Theme
 * http://www.silverstripe.com
 *
 * This typography file is included in the WYSIWYG editor and the front end. It provides
 * a place to add link styles and font styles you would like in the CMS and the Front End.
 */ 
/* GENERIC STYLES */
.typography * { font-family:Helvetica, Arial, sans-serif; }
/* PARAGRAPHS */
.typography p { color: #666; font-weight:bold; font-size: 14px; line-height:18px; margin:0 0 18px 0; }
/* QUOTES */
.typography blockquote { color:#777; font-size:1.4em; font-style:italic; margin:10px; }	
.typography q { border:1px #ccc solid; display:block; font-size:0.8em; margin: 1em 1em; padding:0.5em; }
/* LINKS  */
.typography a { color:#3E91C4; text-decoration:none; }
.typography a:hover { text-decoration:underline; }
/* LINK ICONS - shows type of file */
.typography a[href$=".pdf"], .typography a[href$=".PDF"], .typography a.pdf { background:url(../images/icons/page_white_acrobat.png) no-repeat left center; padding:2px; padding-left:20px; }
.typography a[href$=".doc"], .typography a[href$=".DOC"], .typography a.doc { background:url(../images/icons/page_word.png) no-repeat left center; padding:2px; padding-left:20px; }
.typography a[href$=".xls"], .typography a[href$=".XLS"], .typography a.xls { background:url(../images/icons/page_excel.png) no-repeat left center; padding:2px; padding-left:20px; }
.typography a[href$=".gz"], .typography a[href$=".GZ"], .typography a[href$=".gzip"], .typography a[href$=".GZIP"], .typography a[href$=".zip"], .typography a[href$=".ZIP"], .typography a.archive { background:url(../images/icons/page_white_zip.png) no-repeat left center; padding:2px; padding-left:20px; }
.typography a[href$=".exe"], .typography a[href$=".EXE"], .typography a.application { background:url(../images/icons/application.png) no-repeat left center; padding:2px; padding-left:20px; }
/* LIST STYLES  */
.typography ul, 
.typography ol { margin:0 0 18px 18px; color:#666; }
.typography li { font-size:13px; font-weight:bold; margin:0px 9px; }
.typography li li { }
/* HEADER STYLES */
.typography h1 { color:#4EA3D7; font-size:27px; font-weight:bold; line-height:1; margin:18px 0 18px 0; }
.typography h2 { color:#222; font-size:24px; font-weight:bold; line-height:1.125; margin:18px 0 18px 0; }	
.typography h3 { clear:both; color:#222; font-weight:bold; font-size:18px; line-height:1; margin:9px 0 18px 0; }
.typography h4 { clear:both; color:#222; font-size:16px; font-weight:bold; line-height:1.2857; margin:0 0 9px 0; }
.typography h5 { color:#222; font-size:14px; font-weight:bold; line-height:1.2857; margin:0; }
.typography h6 { color:#555; font-size:14px; font-weight:bold; line-height:1.3846; margin:0; }
/* PRE STYLES */	
.typography pre { display:block; font-family:"Courier New",Courier; font-size:1.2em; margin:2em 5em; padding:0.5em; border:1px #ccc solid; background:#eee; }
/* TABLE STYLING */
.typography table {	border-collapse:collapse; border:1px dotted #CCCCCC; color:#666; font-size:12px; margin:0 0 18px 0; }
.typography tr {}
.typography th { background:#4EA3D7; border:1px dotted #CCCCCC; color:#FFFFFF; font-weight:bold; padding:6px 5px 3px 5px; }
.typography td { border:1px dotted #CCCCCC; font-weight:bold; padding:6px 5px 3px 5px; }
/* WYSIWYG EDITOR ALIGNMENT CLASSES */
.typography .left { text-align:left; }
.typography .center { text-align:center; }
.typography .right { text-align:right; }
/* IMAGES */
.typography img { border:none; }
.typography img.right { float:right; margin:0 0 18px 18px; }
.typography img.left { float:left; margin:0 18px 18px 0; }
.typography img.leftAlone { float:left; margin-right:100%; }
.typography img.center { float:none; margin-left:auto; margin-right:auto; display:block; }
